@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Existing global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}



body {
  /* Apply the gradient background */
  background: linear-gradient(135deg, #30C0BF, #000000);
  
  /* Ensure the gradient covers the entire page */
  height: 100vh;
  margin: 0;
  padding: 0;
  
  /* Add a fallback background color in case gradients are not supported */
  background-color: #000000;
  
  /* Ensure content is placed on top of the gradient */
  background-attachment: fixed;
  background-size: cover;
}



/* For Locomotive Scroll */

[data-scroll-container] {
  overflow: hidden;
}

html.has-scroll-smooth [data-scroll-container] {
  will-change: transform;
}
